{% extends "master.html" %}

{% load i18n %}

{% block content %}
<p>{{ object.name }}</p>
<p><img src="{{ MEDIA_URL }}{{ object.image.thumbnail }}"></p>
<p>{% trans "Description" %}: {{ object.description }}</p>
<p>{% trans "Homepage" %}: <a target="_blank" href="{{ object.url }}">{{ object.url }}</a></p>

{% if object.projects.all %}
    <p>{% trans "Projects" %}: </p>
    <ul>
    {% for project in object.projects.all %}
        <li><a href="{% url 'projects-detail' project.slug %}">{{ project.name }}</a>
            {% if project.technologies.all %}
                <ul>
                {% for tech in project.technologies.all %}
                    <li><a href="{% url 'technologies-detail' tech.slug %}">{{ tech.name }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% if object.technologylevel_set.all %}
    <p>{% trans "Technologies" %}: </p>
    <ul>
    {% for technology_level in object.technologylevel_set.all %}
        <li>{{ technology_level.technology.name }} - {{ technology_level.get_level_display }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}