{% extends "master.html" %}

{% load i18n star_level static %}

{% block head %}
<link rel="stylesheet" href="{% static "base/css/timeline.min.css" %}">
{% endblock %}

{% block metatags %}
    <meta property="og:title" content="Alten Denmark ApS - {{object.get_full_name}}">
    <meta property="twitter:title" content="Alten Denmark ApS - {{object.get_full_name}}">

    <meta property="og:description" content="{{ object.description }}">
    <meta property="twitter:description" content="{{ object.description }}">

    <meta property="og:image" content="https://altentechnology.dk{{ MEDIA_URL }}{{ object.image.medium }}">
    <meta property="twitter:image" content="https://altentechnology.dk{{ MEDIA_URL }}{{ object.image.medium }}">
{% endblock %}

{% block content %}
<div class="row">
    <div style="padding-top: 170px">
        <div class="card right-left-padding center-align">
            <div style="position:relative; top: -150px; padding-top">
                <img 
                    src="{{ MEDIA_URL }}{{ object.image.medium }}" 
                    alt="{{ object.get_full_name }}"
                    class="circle responsive-img z-depth-3"
                >
            </div>
            <div style="position:relative; top:-100px; align-content:center;">
                <h5 class="center-align" style="color: #043962;"><b>{{ object.get_full_name }}</b></h5>
                <p class="center-align" style="position:relative; top: -10px; color: #008BD2;">{{ object.jobtitle }}</p>
                <hr style="margin-left:10%;margin-right:10%">
                <div class="center-align" style="padding-left:15%; padding-right:15%;">
                     <p class="left-align">
                    {{ object.description|linebreaksbr }}</p>
                </div>
            </div>
             <div class="row valign-wrapper">
                <div class="col s6" style="padding:5%">
                    <a style="padding-top:0%"
                        target="_blank" 
                        href="mailto:tech@alten.dk?subject=Book%20Consultant%20%2d%20{{ object.get_full_name|urlencode }}" 
                        class="waves-effect waves-light btn"><i class="material-icons left">schedule</i>Book Consultant</a>
                </div>
                {% if object.cv or object.linkedin %}
                <div class="col s6" style="padding:5%">
                    {% if object.cv %}
                        <a style="padding-top:0%;"
                           target="_blank" 
                           href="{{ MEDIA_URL }}{{ object.cv }}"
                           class="waves-effect waves-light btn"><i class="material-icons left">file_download</i>Download CV</a>
                    {% endif %}
                </div>
            </div>
             <div class="center-align" style="padding-bottom:4%">
                    {% if object.linkedin %}
                        <a style="padding:2%" target="_blank" href="{{ object.linkedin }}">
                            <img src="{% static 'base/logo/linkedin.png' %}" height="32" alt="{% trans "Open consultants LinkedIn profile"%}">
                        </a>
                    {% endif %}
              </div>
            {% endif %}
          
        </div>
    </div>
</div>

{% if object.technologylevel_set.all %}
    <div class="center-align">
        <i class="medium material-icons md-36 alten-background-light-blue" style="padding:15px;">star</i>
    </div>

    <div class="card">
        <div class="center-align">
            <h5 style="color: #043962;padding-top: 35px"><b>{% trans "Technologies & Tools" %} </b></h5>
        </div>
        <div class="row">
            {% for technology_level in object.technologylevel_set.all %}
                <div class="col s6 right-align">
                    <a href="{% url 'technologies-detail' technology_level.technology.slug %}">{{ technology_level.technology.name }}</a>
                </div>
                <div class="col s6">
                    {{ technology_level.level|stars }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if object.project_set.all %}
    <div class="center-align">
        <i class="medium material-icons md-36 alten-background-light-blue" style="padding:20px;">group_work</i>
    </div>

    <div class="card center-align" style="padding-bottom:20px;margin-bottom:10px; margin-top:10px;">
        <h5 style="text-align: center; color: #043962;padding-top: 35px; margin-top:0px;"><b>{% trans "Projects" %}</b></h5>
        <ul>
            {% for project in object.project_set.all %}
            <li><a href="{% url 'projects-detail' project.slug %}"><b>{{ project.name }}<span style="color: #043962">:</span> </b></a>
                {% if project.technologies.all %}
                {% for tech in project.technologies.all %}
                <span><a href="{% url 'technologies-detail' tech.slug %}">{{ tech.name }} <span style="color: #043962">| </span> </a></span>
                {% endfor %}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if object.jobs.all %}
    <div class="center-align">
        <i class="medium material-icons md-36 alten-background-light-blue" style="padding:20px">work</i>
    </div>

    <div class="card right-left-padding">
        <h5 style="text-align: center; color: #043962;padding-top: 35px; margin-top: 0px"><b>{% trans "Experience" %}</b></h5>

        <div class="timeline">
            {% for job in object.jobs.all %}
            <div class="timeline-event">
                <div class="card timeline-content alten-light-blue">
                    <div class="card-content">
                        <span class="card-title alten-header-color">{{ job.start|date:"Y" }} - {{ job.company }}</span>
                        <p class="alten-p-light-blue"><b>{{job.job_title}}</b></p>
                        <hr>
                        <p>{{ job.description}}</p>
                    </div>
                </div>
                <div class="timeline-badge blue white-text">
                    <i class="material-icons">my_location</i>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% endblock %}