{% extends "master.html" %}

{% load i18n %}

{% block content %}
<h1>{% trans "Consultants" %}</h1>

{% if tags %}
<div>
    <a href="{% url 'employees-list' %}">
        <div class="chip">{% trans "All" %}</div>
    </a>
    {% for tag in tags %}
    <a href="?tag={{tag.slug}}">
        <div class="chip">{{ tag.name }}</div>
    </a>
    {% endfor %}
</div>
<hr>
{% endif %}

<div class="row">
    {% for employee in object_list %}
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-content center-align">
                <div>
                    <img class="circle responsive-img" src="{{ MEDIA_URL }}{{ employee.image.medium }}">
                </div>
                
                <strong>{{ employee.get_full_name }}</strong>
                <p>{{ employee.jobtitle }}</p>
                <a href="{% url 'employees-detail' slug=employee.slug %}">Link</a>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col s12">{% trans "No consultants yet." %}</div>
    {% endfor %}
</div>
{% endblock %}