{% load i18n static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static "base/css/alten.min.css" %}">
    {% block head %}{% endblock %}

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% trans 'Find your next consultant from Alten Denmark ApS on this page' %}">
    <meta name="title" content="Alten Denmark - {% trans "Technology" %}">

    <title>Alten Denmark - {% trans "Technology" %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "base/favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "base/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "base/favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "base/favicon/site.webmanifest" %}">

    <!-- Open Graph / Facebook -->
    <meta property="og:site_name" content="Alten Denmark ApS - Technology">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://altentechnology.dk">

    <!-- Twitter -->
    <meta property="twitter:card" content="website">
    <meta property="twitter:url" content="https://altentechnology.dk">
    
    {% block metatags %}
        <meta property="og:title" content="Alten Denmark ApS - Technology">
        <meta property="twitter:title" content="Alten Denmark ApS - Technology">
        
        <meta property="og:description" content="{% trans 'Find your next consultant from Alten Denmark ApS on this page' %}">
        <meta property="twitter:description" content="{% trans 'Find your next consultant from Alten Denmark ApS on this page' %}">

        <meta property="og:image" content="https://altentechnology.dk{% static 'base/logo/alten.png' %}">
        <meta property="twitter:image" content="https://altentechnology.dk{% static 'base/logo/alten.png' %}">
    {% endblock %}
</head>

<body>
    <div class="fixed-action-btn" style="bottom: 45%;">
        <a class="btn-floating btn-large blue">
            <i class="large material-icons">contacts</i>
        </a>
        <ul>
            <li>
                <a href="tel:004541423030" class="btn-floating red">
                    <i class="material-icons">phone</i>
                </a>
            </li>
            <li>
                <a href="mailto:tech@alten.dk" class="btn-floating green">
                    <i class="material-icons">email</i>
                </a>
            </li>
        </ul>
    </div>
    <header>
        <nav>
            <div class="nav-wrapper container">
                <a href="{% url 'index' %}" class="brand-logo">ALTEN Denmark</a>
                <a href="#" data-target="mobile-navbar" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% for link in links %}
                        <li{% if link.active %} class="active"{% endif %}><a href="{{ link.url }}">{{ link.text|upper }}</a></li>    
                    {% endfor %}
                    <li>
                        <a href="tel:004541423030"><i class="material-icons">phone</i></a>
                    </li>
                    <li>
                        <a href="mailto:tech@alten.dk"><i class="material-icons">email</i></a>
                    </li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-navbar">
            {% for link in links %}
                <li{% if link.active %} class="active"{% endif %}><a href="{{ link.url }}">{{ link.text }}</a></li>    
            {% endfor %}
        </ul>
    </header>
    <main>
        {% block base_content %}{% endblock %}
    </main>
    <footer class="page-footer black">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5 class="white-text">Alten Denmark ApS</h5>
                    <address>
                        C/o Work Share Grow<br>
                        Christians Brygge 28, 1.<br>
                        1559 København V
                    </address>
                    <a href="tel:004541423030">+45 41 42 30 30</a><br>
                    <a href="mailto:tech@alten.dk">tech@alten.dk</a>
                </div>
               
                <div class="col" style="padding-left:15%">
                    <h5 class="white-text">Links</h5>
                    <a target="_blank" href="https://alten.com">Web</a><br>
                    <a target="_blank" href="https://dk.linkedin.com/company/alten-danmark">LinkedIn</a>
                </div>
                <div class="col" style="padding-left:20%">
                    <div>
                        <h5 class="white-text">Pages</h5>
                        {% for link in links %}
                            {% if link.active %} {% endif %}
                        <a href="{{ link.url }}">{{ link.text|upper }}</a><br>   
                        {% endfor %}
                    </div>
                </div>
            </div>
             <div class="center-align">
                    <a href="https://www.alten.com/">
                        <img class="responsive-img" alt="Alten Logo" style="max-width:300px" src="{% static "base/logo/alten.png" %}">
                    </a>
              </div>
        </div>
    </footer>
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $('.fixed-action-btn').floatingActionButton({
                direction: 'left'
            });
        });
    </script>
    {% block bodyend %}{% endblock %}
</body>
</html>