{% extends "master.html" %}

{% load i18n static %}

{% block content %}

<div class="card">
    <div class="card-image">
        <img alt="ALTEN Denmark" src="{% static "base/gfx/alten.sweden.jpg" %}">
      </div>
      <div class="card-content left-align">
        <div style="padding:5%">
                <p> ALTEN Group supports the development strategy of its customers in the fields of innovation, R&D and technological information systems. 
                Created 30 years ago in France, the Group has become a world leader in Engineering and Technology consulting. 
                34.000 highly qualified engineers carry out studies and conception projects for the Technical and Information Systems Divisions of major customers in the industrial and service sectors.
                ALTEN DANMARK A/S works within <b>Energy</b>, <b>Life Science</b>, <b>Banking</b>, <b>Insurance</b> and <b>Robot Industries.</b></p>
        </div>
        <div style="width: 300px; margin-left:5%;">
            <table class="table">
                <tr>
                    <th>Website: </th>
                    <td><a href="https://www.alten.com/">ALTEN.com</a></td>
                </tr>
                <tr>
                    <th>Social media: </th>
                    <td><a href="https://www.linkedin.com/company/alten-danmark/about/">LinkedIn</a></td>
                </tr>
                <tr>
                    <th>Phone number: </th>
                    <td><a href="tel:+4541423030">+4541423030</a></td>
                </tr>
                <tr>
                    <th style="vertical-align:top">Address: </th">
                    <td><a href="https://goo.gl/maps/AFAW4SZ9QsACbZF97">Christians Brygge 28<br> 1559 Copenhagen <br> Denmark </a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div>
    <h4 class="center-align">{% trans "Business Managers" %}</h4>
</div>

<div class="card" style="padding:5%">
    
    <div>
        <h5 class="header"> <img style="max-width:100px;margin:1%; margin-bottom:-1%" alt="Katrine Villumsen" src="{% static 'base/gfx/katrine.png' %}" class="circle responsive-img z-depth-3">
        Katrine Villumsen </h5>
        <table>
             <tr>
                    <th>Social media: </th>
                    <td><a href="https://www.linkedin.com/in/katrine-villumsen/">LinkedIn</a></td>
             </tr>
             <tr>
                    <th>Phone number: </th>
                    <td><a href="tel:+4541423030">+4541423030</a></td>
             </tr>
             <tr>
                    <th>Email:</th>
                    <td><a href="mailto:katrine.villumsen@alten.dk">katrine.villumsen@alten.dk</a></td>
             </tr>
        </table>
    </div>
    <br />
    <div>
        <h5 class="header"> <img style="max-width:100px;margin:1%; margin-bottom:-1%" alt="Nikolaj Enevoldsen" src="{% static 'base/gfx/nikolaj.png' %}" class="circle responsive-img z-depth-3">
        Nikolaj Enevoldsen</h5>
        <table>
             <tr>
                    <th>Social media: </th>
                    <td><a href="https://www.linkedin.com/in/nikolajenevoldsen2018/">LinkedIn</a></td>
             </tr>
             <tr>
                    <th>Phone number: </th>
                    <td><a href="tel:+4525529498">+4525529498</a></td>
             </tr>
             <tr>
                    <th>Email:</th">
                    <td><a href="mailto:nikolaj.enevoldsen@alten.dk">nikolaj.enevoldsen@alten.dk</a></td>
             </tr>
        </table>
    </div>

</div>

<div>
    <h4 class="center-align">{% trans "Human Ressources" %}</h4>
</div>

<div class="card" style="padding:5%">
    
    <div>
        <h5 class="header"> <img style="max-width:100px;margin:1%; margin-bottom:-1%" alt="Katja Linnea Serritzlew" src="{% static 'base/gfx/katja.jpg' %}" class="circle responsive-img z-depth-3">Katja Linnea Serritzlew</h5>
        <table>
             <tr>
                    <th>Social media: </th>
                    <td><a href="https://www.linkedin.com/in/katja-linnea-serritzlew/">LinkedIn</a></td>
             </tr>
             <tr>
                    <th>Phone number: </th>
                    <td><a href="tel:+4541300003">+4541300003</a></td>
             </tr>
             <tr>
                    <th>Email:</th>
                    <td><a href="mailto:katja.serritzlew@alten.dk">katja.serritzlew@alten.dk</a></td>
             </tr>
        </table>
    </div>
</div>

{% endblock %}