{% extends "master.html" %}

{% load i18n static %}

{% block content %}
<div class="row">
    <h1>{% trans "Contact Us" %}</h1>
</div>
<div class="card">
    <div class="left-align">
        <div style="width: 300px; margin-left:5%;">
            <table class="table">
                <tr>
                    <th>Website: </th>
                    <td><a href="https://www.alten.com/">ALTEN.com</a></td>
                </tr>
                <tr>
                    <th>Social media: </th>
                    <td><a href="https://www.linkedin.com/company/alten-danmark/about/">LinkedIn</a></td>
                </tr>
                <tr>
                    <th>Phone number: </th>
                    <td><a href="tel:+4541423030">+4541423030</a></td>
                </tr>
                <tr>
                    <th style="vertical-align:top">Address: </th">
                    <td><a href="https://goo.gl/maps/AFAW4SZ9QsACbZF97">Christians Brygge 28<br> 1559 Copenhagen <br> Denmark </a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="card" style="padding:5%">
    <div>
        <h3 class="center-align">{% trans "Business Managers" %}</h3>
    </div>
    <div>
        <h5 class="header"> <img style="max-width:100px;margin:1%" alt="Katrine Villumsen" src="{% static 'base/gfx/katrine.png' %}" class="circle responsive-img z-depth-3">
        Katrine Villumsen</h5>
        <table>
             <tr>
                    <th>Social media: </th>
                    <td><a href="https://www.linkedin.com/in/katrine-villumsen/">LinkedIn</a></td>
             </tr>
             <tr>
                    <th>Phone number: </th>
                    <td><a href="tel:+4541423030">+4541423030</a></td>
             </tr>
             <tr>
                    <th style="vertical-align:top">Email:</th>
                    <td > <a href="mailto:katrine.villumsen@alten.dk">katrine.villumsen@alten.dk </a></td>
             </tr>
        </table>
    </div>
    <br />
    <div>
        <h5 class="header"> <img style="max-width:100px;margin:1%" alt="Nikolaj Enevoldsen" src="{% static 'base/gfx/nikolaj.png' %}" class="circle responsive-img z-depth-3">
        Nikolaj Enevoldsen</h5>
        <table>
             <tr>
                    <th>Social media: </th>
                    <td><a href="https://www.linkedin.com/in/nikolajenevoldsen2018/">LinkedIn</a></td>
             </tr>
             <tr>
                    <th>Phone number: </th>
                    <td><a href="tel:+4525529498">+4525529498</a></td>
             </tr>
             <tr>
                    <th style="vertical-align:top">Email: </th">
                    <td> <a href="mailto:nikolaj.enevoldsen@alten.dk">nikolaj.enevoldsen@alten.dk </a></td>
             </tr>
        </table>
    </div>

</div>
{% endblock %}