{% extends 'base.html' %}

{% load i18n star_level static %}

{% block base_content %}
<div class="parallax-container">
    <div class="parallax">
        <img alt="{% trans 'Copenhagen seen from above' %}" src="{% static "base/gfx/parallax1.jpg" %}">
    </div>
</div>
<div class="section white">
    <div class="row container">
        <h1 class="header">{% trans "Alten Denmark" %}</h1>
        <p class="grey-text text-darken-3 lighten-3">
            {% blocktrans trimmed %}
                ALTEN Group supports the development strategy of its customers in the fields of innovation, R&D and technological information systems. 
                Created 30 years ago in France, the Group has become a world leader in Engineering and Technology consulting. 
                34.000 highly qualified engineers carry out studies and conception projects for the Technical and Information Systems Divisions of major customers in the industrial and service sectors.
                ALTEN DANMARK A/S works within Energy, Life Science, Banking, Insurance and Robot Industries.
            {% endblocktrans %}
        </p>
    </div>
</div>

{% if object %}
    <div class="parallax-container">
        <div class="parallax">
            <img alt="Lille Langebro" src="{% static "base/gfx/parallax3.jpg" %}">
        </div>
    </div>
    <div class="section white">
        <div class="container">
            <div class="row">
                <div class="col s12 m3">
                    <img src="{{ MEDIA_URL }}{{ object.image.medium }}" alt="{{ object.get_full_name }}" class="circle responsive-img z-depth-3">
                </div>
                <div class="col s12 m9">
                    <h2 class="header">
                        <a href="{% url 'employees-detail' slug=object.slug %}"> {{ object.get_full_name }}</a>
                    </h2>
                    <p class="grey-text text-darken-3 lighten-3">{{ object.jobtitle }}</p>

                    {% if object.technologylevel_set.all %}
                        <div class="row">
                            {% for technology_level in object.technologylevel_set.all|slice:":5" %}
                                <div class="col s6 right-align">
                                    <a href="{% url 'technologies-detail' technology_level.technology.slug %}">{{ technology_level.technology.name }}</a>
                                </div>
                                <div class="col s6">
                                    {{ technology_level.level|stars }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="parallax-container">
    <div class="parallax">
        <img alt="{% trans 'Copenhagen by night' %}" src="{% static "base/gfx/parallax4.jpg" %}">
    </div>
</div>
{% endblock %}

{% block bodyend %}
<script>
$(document).ready(function(){
    $('.parallax').parallax();
});
</script>
{% endblock %}