{% extends "master.html" %}

{% load i18n %}

{% block content %}
<h1>{{ object.name }}</h1>

<div class="card" style="padding:10%"> 
<p><b>{% trans "Description" %}:</b> {{ object.description }}</p>

<br>
{% if object.project_set.all %}
<p><b>{% trans "Projects" %}: </b></p>
<ul>
    {% for project in object.project_set.all %}
        <li><a href="{% url 'projects-detail' project.slug %}"><b>{{ project.name }}<span style="color: #043962">:</span> </b></a>
            {% if project.technologies.all %}
                {% for tech in project.technologies.all %}
                    {% if not forloop.first %}<span style="color: #043962"> | </span>{% endif %}<a href="{% url 'technologies-detail' tech.slug %}">{{ tech.name }}</a>
                {% endfor %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endif %}
</div>

<br>
<div>
{% if object.consultants.all %}
    <h4 class="center-align">{% trans "Consultants" %} </h4>
</div>
<div class="row">
    {% for consultant in object.consultants.all %}
     <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-content center-align">
                <div>

                    <a href="{% url 'employees-detail' consultant.slug %}">
                        <img 
                            class="circle responsive-img"
                            href="{% url 'employees-detail' consultant.slug %}"
                            src="{{ MEDIA_URL }}{{ consultant.image.medium }}"
                            alt="{{ consultant.get_full_name }}"
                        >
                    </a>
                </div>
                 <strong>{{ consultant.get_full_name }}</strong>
                <p>{{ consultant.jobtitle }}</p>
            </div>
             <div class="card-action">
                <div z-depth-2>
                    <a style="padding-top:0%;" class="waves-effect waves-light btn" href="{% url 'employees-detail' slug=consultant.slug %}">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
 </div>     
{% endif %}

{% endblock %}
